startup --windows_enable_symlinks

common --lockfile_mode=off

# Automatically apply --config=linux, --config=windows etc
common --enable_platform_specific_config

build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_timeout=3600

# TODO: Remove once stardoc's protobuf doesn't have warnings
build:linux --host_per_file_copt="external/.*protobuf.*@-Wno-everything"
build:linux --per_file_copt="external/.*protobuf.*@-Wno-everything"

# TODO: Remove once stardoc's zlib doesn't have warnings
build:linux --host_per_file_copt="external/.*zlib.*@-Wno-everything"
build:linux --per_file_copt="external/.*zlib.*@-Wno-everything"

test --test_output=errors

common --enable_runfiles

# rules_go's go sdk cgo compiler doesn't build with some compilers 
# that may be configured by bazel, but we don't need it; disable
common --@rules_go//go/config:pure
